/_setup/_macOS/Brewfile.lock.json
.DS_Store
emacs/.emacs.d/%backup%~
emacs/.emacs.d/custom.el
emacs/.emacs.d/var/
emacs/.emacs.d/straight/*
!emacs/.emacs.d/straight/versions/
/emacs/.emacs.d/.cache/
/.clj-kondo/
/.lsp/
